---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { HOME } from "@consts";
---
<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <img src="/profile.png" alt="Shane" class="animate w-32 h-32 rounded-full mb-6" />
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Shane <span class="text-xl">👋🏻</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            Next chapter loading... Former Web3 professional with experience at Consensys and RECUR—helped scale products, navigated market cycles, and curated my art collection, 2667. UNC Chapel Hill alum.
          </p>
        </article>
      </section>
    </div>
  </Container>
</PageLayout>
