<button id="back-to-top" class="group flex items-center gap-2 font-mono text-sm text-neutral-500 dark:text-neutral-400 hover:text-[#2EE59D] transition-colors duration-300">
  <span class="text-[#2EE59D]">&gt;</span>
  <span class="group-hover:underline">back_to_top</span>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 24 24"
    class="size-4 stroke-2 fill-none stroke-current -rotate-90 group-hover:stroke-[#2EE59D] transition-colors duration-300">
    <polyline points="12 5 5 12 12 19" />
  </svg>
</button>
