<button id="back-to-top" class="group flex items-center gap-2 px-3 py-1.5 font-mono text-sm text-neutral-500 dark:text-neutral-400 border border-neutral-300 dark:border-neutral-700 rounded-md hover:border-[#2EE59D] hover:text-[#2EE59D] transition-colors duration-300">
  <span>back_to_top</span>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 24 24"
    class="size-4 stroke-2 fill-none stroke-current group-hover:stroke-[#2EE59D] transition-colors duration-300">
    <line x1="12" y1="19" x2="12" y2="5" />
    <polyline points="5 12 12 5 19 12" />
  </svg>
</button>
