---
import Container from "@components/Container.astro";
import BackToTop from "@components/BackToTop.astro";

const pathname = Astro.url.pathname;
const isHomepage = pathname === "/" || pathname === "";
---
<footer class="animate">
  <Container>
    <div class="relative">
      {!isHomepage && (
        <div class="absolute right-0 -top-20">
          <BackToTop />
        </div>
      )}
    </div>
  </Container>
</footer>
