---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---
<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/">
        {SITE.NAME}
      </Link>
      <nav class="flex gap-1">
        <Link href="/work">
          Work
        </Link>
        <span>/</span>
        <Link href="/projects">
          Projects
        </Link>
        <span>/</span>
        <Link href="/collection">
          2667
        </Link>
      </nav>
    </div>
  </Container>
</header>
